/*cabeza de pagina*/
*{ 
    padding: 0; 
    margin: 0; 
    text-decoration: none; 
    list-style: none; 
    box-sizing: border-box; 
} 
 
nav{ 
    background-color: green; 
    height: 80px; 
    width: 100%; 
} 
 
.enlace{ 
    position: absolute; 
    padding: 20px 50px; 
} 
 
.logo{ 
    height: 40px; 
} 
 
nav ul{ 
    float: right; 
    margin-right: 20px; 
} 
nav ul li{ 
    display: inline-block; 
    line-height: 80px; 
    margin: 0 5px; 
} 
nav ul li a{ 
    color: aliceblue; 
    font-size: 18px; 
    padding: 7px 13px; 
    border-radius: 3px; 
    text-transform: uppercase; 
} 
 
li a.active, li a:hover{ 
    background-color: darkgreen; 
    transition: .5s; 
} 
 
.checkbtn{ 
    font-size: 30px; 
    color: aliceblue; 
    float: right; 
    line-height: 80px; 
    margin-right: 40px; 
    cursor: pointer; 
    display: none; 
} 
#check{ 
    display: none; 
} 
 
@media (max-width: 952px){ 
    .enlace{ 
        padding-left: 20px; 
    } 
} 
 
@media (max-width: 858px) { 
    .checkbtn{ 
        display: block; 
    } 
    ul{ 
        position: fixed; 
        width: 100%; 
        height: 100vh; 
        background: rgb(60, 64, 77); 
        top: 80px; 
        left: -100%; 
        text-align: center; 
        transition: all .5s; 
    } 
    nav ul li{ 
        display: block; 
        margin: 50px 0; 
        line-height: 30px;     
    } 
    nav ui li a{ 
        font-size: 20px; 
    } 
    li a:hover, li a.active{ 
        background: none; 
        color: rgb(19, 189, 19); 
    } 
    #check:checked ~ ul{ 
        left: 0; 
    } 
}

/*pie de pagina*/

body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.pie-pagina{
    width: 100%;
    background-color: rgb(60, 64, 77); 
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 -box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and(max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        padding: 35px 0px;
    }
}

.footer{
    text-align: center;
    margin: auto;
}

/*cuerpo de la pagina*/

div.col-sm-4{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
div.col-sm-4:hover {
    border: 1px solid #777;
  }
  
div.col-sm-4 img {
    width: 100%;
    height: auto;
  }
  
div.col-sm-4 {
    padding: 15px;
    text-align: center;
  }

/*registro vista*/

.iniciar
{
    position:absolute;
    right: 5%;
    bottom: 27%;
    color:crimson;
    text-decoration: none;
    font-weight: bold;
    

}

.iniciar:hover
{
    position:absolute;
    right: 5%;
    bottom: 27%;
    color:rgb(255, 254, 208);
    text-shadow: 0 0 10px rgb(253, 255, 127), 0 0 20px rgb(255, 235, 121), 0 0 30px #e6e200, 0 0 40px #e6cf00, 0 0 50px #e69600, 0 0 60px #e67b00, 0 0 70px #e64100;
    text-decoration: none;
    font-weight: bold;
}

.smalllink
{
    font-size: small;
    text-decoration: none;

}

#1{
    float: right;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}